/* Define two variables as the loop limits */
.fabSpeedDialCircle .btn-0 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.55, 0, 0.55, 0.2);
}
.fabSpeedDialCircle .md-is-open .btn-0 {
  position: absolute;
  transform: rotate(200deg) translate(61.2px) rotate(-200deg);
  opacity: 1;
}
.fabSpeedDialCircle .btn-1 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.55, 0, 0.55, 0.2);
}
.fabSpeedDialCircle .md-is-open .btn-1 {
  position: absolute;
  transform: rotate(245deg) translate(61.2px) rotate(-245deg);
  opacity: 1;
}
.fabSpeedDialCircle .btn-2 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.55, 0, 0.55, 0.2);
}
.fabSpeedDialCircle .md-is-open .btn-2 {
  position: absolute;
  transform: rotate(290deg) translate(61.2px) rotate(-290deg);
  opacity: 1;
}
.fabSpeedDialCircle .btn-3 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.55, 0, 0.55, 0.2);
}
.fabSpeedDialCircle .md-is-open .btn-3 {
  position: absolute;
  transform: rotate(335deg) translate(61.2px) rotate(-335deg);
  opacity: 1;
}
.fabSpeedDialCircle .btn-4 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.55, 0, 0.55, 0.2);
}
.fabSpeedDialCircle .md-is-open .btn-4 {
  position: absolute;
  transform: rotate(380deg) translate(61.2px) rotate(-380deg);
  opacity: 1;
}
.fabSpeedDialCircle .btn-5 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.55, 0, 0.55, 0.2);
}
.fabSpeedDialCircle .md-is-open .btn-5 {
  position: absolute;
  transform: rotate(425deg) translate(61.2px) rotate(-425deg);
  opacity: 1;
}
.fabSpeedDialCircle .btn-6 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.55, 0, 0.55, 0.2);
}
.fabSpeedDialCircle .md-is-open .btn-6 {
  position: absolute;
  transform: rotate(470deg) translate(61.2px) rotate(-470deg);
  opacity: 1;
}
.fabSpeedDialCircle .btn-7 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.55, 0, 0.55, 0.2);
}
.fabSpeedDialCircle .md-is-open .btn-7 {
  position: absolute;
  transform: rotate(515deg) translate(61.2px) rotate(-515deg);
  opacity: 1;
}
.fabSpeedDialCircle .text-capitalize {
  text-transform: capitalize;
}
.fabSpeedDialCircle .lock-size {
  min-width: 4.5rem;
  min-height: 4.5rem;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -4.5rem;
}
.fabSpeedDialCircle md-fab-trigger {
  z-index: 100;
}
.fabSpeedDialCircle md-fab-actions {
  z-index: 50;
}
.fabSpeedDialCircle .md-button.handle {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2) inset,
    0px 6px 10px 0px rgba(0, 0, 0, 0.14) inset,
    0px 1px 18px 0px rgba(0, 0, 0, 0.12) inset;
}
.fabSpeedDialCircle .md-button.handle > img {
    width: 2.2rem;
    height: 2.2rem !important;
    position: relative;
    top: 0.6rem;
    left: 0.2rem;
}