@font-face {
    font-family: "meteoblue";
    src: url("/assets/fonts/meteoblue_pictofont_rev6.woff#iefix") format("woff"), url("/assets/fonts/meteoblue_pictofont_rev6.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

.meteoblue-root .glyph {
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.meteoblue-root .glyph:after, .meteoblue-root .glyph:before {
    font-family: meteoblue;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    position: relative;
    vertical-align: text-bottom;
    text-decoration: none
}

.meteoblue-root .glyph:after:hover, .meteoblue-root .glyph:before:hover {
    text-decoration: none
}

.meteoblue-root .glyph.time:before {
    content: "\00e0e0"
}

.meteoblue-root .glyph.temperature:before {
    content: "\00e010"
}

.meteoblue-root .glyph.windchill:before {
    content: "\00e011"
}

.meteoblue-root .glyph.winddir:before {
    content: "\00e012"
}

.meteoblue-root .glyph.winddir.N:before {
    content: "\00e008"
}

.meteoblue-root .glyph.winddir.NNE:before {
    content: "\00e009"
}

.meteoblue-root .glyph.winddir.NE:before {
    content: "\00e00a"
}

.meteoblue-root .glyph.winddir.ENE:before {
    content: "\00e00b"
}

.meteoblue-root .glyph.winddir.E:before {
    content: "\00e00c"
}

.meteoblue-root .glyph.winddir.ESE:before {
    content: "\00e00d"
}

.meteoblue-root .glyph.winddir.SE:before {
    content: "\00e00e"
}

.meteoblue-root .glyph.winddir.SSE:before {
    content: "\00e00f"
}

.meteoblue-root .glyph.winddir.S:before {
    content: "\00e000"
}

.meteoblue-root .glyph.winddir.SSW:before {
    content: "\00e001"
}

.meteoblue-root .glyph.winddir.SW:before {
    content: "\00e002"
}

.meteoblue-root .glyph.winddir.WSW:before {
    content: "\00e003"
}

.meteoblue-root .glyph.winddir.W:before {
    content: "\00e004"
}

.meteoblue-root .glyph.winddir.WNW:before {
    content: "\00e005"
}

.meteoblue-root .glyph.winddir.NW:before {
    content: "\00e006"
}

.meteoblue-root .glyph.winddir.NNW:before {
    content: "\00e007"
}

.meteoblue-root .glyph.windspeed:before {
    content: "\00e013"
}

.meteoblue-root .glyph.windgust:before {
    content: "\00e014"
}

.meteoblue-root .glyph.humidity:before {
    content: "\00e015"
}

.meteoblue-root .glyph.rain:before {
    content: "\00e016"
}

.meteoblue-root .glyph.rain1h:before {
    content: "\00e017"
}

.meteoblue-root .glyph.rain3h:before {
    content: "\00e018"
}

.meteoblue-root .glyph.precipprob:before {
    content: "\00e019"
}

.meteoblue-root .glyph.watertemp:before {
    content: "\00e01a"
}

.meteoblue-root .glyph.waveheight:before {
    content: "\00e01b"
}

.meteoblue-root .glyph.wavedirection:before {
    content: "\00e01c"
}

.meteoblue-root .glyph.windwavedirection:before {
    content: "\00e01d"
}

.meteoblue-root .glyph.pressure:before {
    content: "\00e01e"
}

.meteoblue-root .glyph.sunshine:before {
    content: "\00e01f"
}

.meteoblue-root .glyph.predictability:before {
    content: "\00e020"
}

.meteoblue-root .glyph.sunrise:before {
    content: "\00e021"
}

.meteoblue-root .glyph.sunset:before {
    content: "\00e022"
}

.meteoblue-root .glyph.snow:before {
    content: "\00e025"
}

.meteoblue-root .glyph.dust:before {
    content: "\00e026"
}

.meteoblue-root .glyph.swellwaveheight:before {
    content: "\00e028"
}

.meteoblue-root .glyph.swellwaveperiod:before {
    content: "\00e029"
}

.meteoblue-root .glyph.windwaveheight:before {
    content: "\00e02a"
}

.meteoblue-root .glyph.windwaveperiod:before {
    content: "\00e02b"
}

.meteoblue-root .glyph.thunderstormprob:before {
    content: "\00e02c"
}

.meteoblue-root .glyph.featcl_V:before {
    content: "\00e032"
}

.meteoblue-root .glyph.featcl_T:before {
    content: "\00e036"
}

.meteoblue-root .glyph.featcl_H:before {
    content: "\00e037"
}

.meteoblue-root .glyph.featcl_S:before {
    content: "\00e038"
}

.meteoblue-root .glyph.settings:before {
    content: "\00e04b"
}

.meteoblue-root .glyph.language:before {
    content: "\00e04c"
}

.meteoblue-root .glyph.search:before {
    content: "\00e071"
}

.meteoblue-root .glyph.menu:before {
    content: "\00e040"
}

.meteoblue-root .glyph.options:before {
    content: "\00e04b"
}

.meteoblue-root .glyph.delete:before {
    content: "\00e06c"
}

.meteoblue-root .glyph.close:before {
    content: "\00e06d"
}

.meteoblue-root .glyph.edit:before {
    content: "\00e070"
}

.meteoblue-root .glyph.hourglass:before {
    content: "\00e072"
}

.meteoblue-root .glyph.help:before {
    content: "\00e080"
}

.meteoblue-root .glyph.download:before {
    content: "\00e082"
}

.meteoblue-root .glyph.bookmark:before {
    content: "\00e085"
}

.meteoblue-root .glyph.document:before {
    content: "\00e086"
}

.meteoblue-root .glyph.more:before {
    content: "\00e087"
}

.meteoblue-root .glyph.share:before {
    content: "\00e088"
}

.meteoblue-root .glyph.params:before {
    content: "\00e089"
}

.meteoblue-root .glyph.print:before {
    content: "\00e08a"
}

.meteoblue-root .glyph.warning:before {
    content: "\00e08d"
}

.meteoblue-root .glyph.info:before {
    content: "\00e08e"
}

.meteoblue-root .glyph.facebook-positive:before {
    content: "\00e0b1";
    color: #39579a
}

.meteoblue-root .glyph.facebook:before {
    content: "\00e0b2";
    color: #39579a
}

.meteoblue-root .glyph.twitter-positive:before {
    content: "\00e0b3";
    color: #00abf0
}

.meteoblue-root .glyph.twitter:before {
    content: "\00e0b4";
    color: #00abf0
}

.meteoblue-root .glyph.whatsapp:before {
    content: "";
    color: #25d366
}

.meteoblue-root .glyph.googleplus:before {
    content: "\00e0b6";
    color: #df4a32
}

.meteoblue-root .glyph.whatsapp:before {
    content: "\00e0b8";
    color: #25d366
}

.meteoblue-root .glyph.user:before {
    content: "\00e0b9"
}

.meteoblue-root .glyph.comment:before {
    content: "\00e0ba"
}

.meteoblue-root .glyph.user_logged_in:before {
    content: "\00e0bd"
}

.meteoblue-root .glyph.like:before {
    content: "\00e0bb"
}

.meteoblue-root .glyph.dislike:before {
    content: "\00e0bc"
}

.meteoblue-root .glyph.credits:before {
    content: "\00e090"
}

.meteoblue-root .glyph.meteoblue:before {
    content: "\00e0d0"
}

.meteoblue-root .glyph.logo:before {
    content: "\00e0d1"
}

.meteoblue-root .glyph.sun:before {
    content: "\00e0d4"
}

.meteoblue-root .glyph.external:before {
    content: "\00e08f"
}

.meteoblue-root .glyph.checkmark:before {
    content: "\00e0d8"
}

.meteoblue-root .glyph.cross:before {
    content: "\00e0d9"
}

.meteoblue-root .glyph.location:before {
    content: "\00e0df"
}

.meteoblue-root .glyph.clock:before {
    content: "\00e0e0"
}

.meteoblue-root .glyph.arrowhead_hollow_down:before {
    content: "\00e048"
}

.meteoblue-root .glyph.arrowhead_hollow_up:before {
    content: "\00e047"
}

.meteoblue-root .glyph.arrowhead_hollow_left:before {
    content: "\00e049"
}

.meteoblue-root .glyph.arrowhead_hollow_right:before {
    content: "\00e04a"
}

.meteoblue-root .glyph.forward:before {
    content: "\00e063"
}

.meteoblue-root .glyph.backward:before {
    content: "\00e064";
    margin-right: -0.8em
}

.meteoblue-root .glyph.fast_forward:before {
    content: "\00e065"
}

.meteoblue-root .glyph.fast_backward:before {
    content: "\00e066"
}

.meteoblue-root .glyph.play:before {
    content: "\00e060"
}

.meteoblue-root .glyph.pause:before {
    content: "\00e061"
}

.meteoblue-root .glyph.fullscreen:before {
    content: "\00e074"
}

.meteoblue-root .glyph.fullscreen_close:before {
    content: "\00e075"
}

.meteoblue-root .glyph.gps:before {
    content: "\00e0e3"
}

.meteoblue-root .p01_iday {
    background-image: url("/assets/images/meteoblue/01_iday_monochrome_hollow.svg")
}

.meteoblue-root .p02_iday {
    background-image: url("/assets/images/meteoblue/02_iday_monochrome_hollow.svg")
}

.meteoblue-root .p03_iday {
    background-image: url("/assets/images/meteoblue/03_iday_monochrome_hollow.svg")
}

.meteoblue-root .p04_iday {
    background-image: url("/assets/images/meteoblue/04_iday_monochrome_hollow.svg")
}

.meteoblue-root .p05_iday {
    background-image: url("/assets/images/meteoblue/05_iday_monochrome_hollow.svg")
}

.meteoblue-root .p06_iday {
    background-image: url("/assets/images/meteoblue/06_iday_monochrome_hollow.svg")
}

.meteoblue-root .p07_iday {
    background-image: url("/assets/images/meteoblue/07_iday_monochrome_hollow.svg")
}

.meteoblue-root .p08_iday {
    background-image: url("/assets/images/meteoblue/08_iday_monochrome_hollow.svg")
}

.meteoblue-root .p09_iday {
    background-image: url("/assets/images/meteoblue/09_iday_monochrome_hollow.svg")
}

.meteoblue-root .p10_iday {
    background-image: url("/assets/images/meteoblue/10_iday_monochrome_hollow.svg")
}

.meteoblue-root .p11_iday {
    background-image: url("/assets/images/meteoblue/11_iday_monochrome_hollow.svg")
}

.meteoblue-root .p12_iday {
    background-image: url("/assets/images/meteoblue/12_iday_monochrome_hollow.svg")
}

.meteoblue-root .p13_iday {
    background-image: url("/assets/images/meteoblue/13_iday_monochrome_hollow.svg")
}

.meteoblue-root .p14_iday {
    background-image: url("/assets/images/meteoblue/14_iday_monochrome_hollow.svg")
}

.meteoblue-root .p15_iday {
    background-image: url("/assets/images/meteoblue/15_iday_monochrome_hollow.svg")
}

.meteoblue-root .p16_iday {
    background-image: url("/assets/images/meteoblue/16_iday_monochrome_hollow.svg")
}

.meteoblue-root .p17_iday {
    background-image: url("/assets/images/meteoblue/17_iday_monochrome_hollow.svg")
}

.meteoblue-root .p18_iday {
    background-image: url("/assets/images/meteoblue/18_iday_monochrome_hollow.svg")
}

.meteoblue-root .p19_iday {
    background-image: url("/assets/images/meteoblue/19_iday_monochrome_hollow.svg")
}

.meteoblue-root .p01_inight {
    background-image: url("/assets/images/meteoblue/01_inight_monochrome_hollow.svg")
}

.meteoblue-root .p02_inight {
    background-image: url("/assets/images/meteoblue/02_inight_monochrome_hollow.svg")
}

.meteoblue-root .p03_inight {
    background-image: url("/assets/images/meteoblue/03_inight_monochrome_hollow.svg")
}

.meteoblue-root .p04_inight {
    background-image: url("/assets/images/meteoblue/04_inight_monochrome_hollow.svg")
}

.meteoblue-root .p05_inight {
    background-image: url("/assets/images/meteoblue/05_inight_monochrome_hollow.svg")
}

.meteoblue-root .p06_inight {
    background-image: url("/assets/images/meteoblue/06_inight_monochrome_hollow.svg")
}

.meteoblue-root .p07_inight {
    background-image: url("/assets/images/meteoblue/07_inight_monochrome_hollow.svg")
}

.meteoblue-root .p08_inight {
    background-image: url("/assets/images/meteoblue/08_inight_monochrome_hollow.svg")
}

.meteoblue-root .p09_inight {
    background-image: url("/assets/images/meteoblue/09_inight_monochrome_hollow.svg")
}

.meteoblue-root .p10_inight {
    background-image: url("/assets/images/meteoblue/10_inight_monochrome_hollow.svg")
}

.meteoblue-root .p11_inight {
    background-image: url("/assets/images/meteoblue/11_inight_monochrome_hollow.svg")
}

.meteoblue-root .p12_inight {
    background-image: url("/assets/images/meteoblue/12_inight_monochrome_hollow.svg")
}

.meteoblue-root .p13_inight {
    background-image: url("/assets/images/meteoblue/13_inight_monochrome_hollow.svg")
}

.meteoblue-root .p14_inight {
    background-image: url("/assets/images/meteoblue/14_inight_monochrome_hollow.svg")
}


.meteoblue-root .p15_inight {
    background-image: url("/assets/images/meteoblue/15_inight_monochrome_hollow.svg")
}


.meteoblue-root .p16_inight {
    background-image: url("/assets/images/meteoblue/16_inight_monochrome_hollow.svg")
}


.meteoblue-root .p17_inight {
    background-image: url("/assets/images/meteoblue/17_inight_monochrome_hollow.svg")
}


.meteoblue-root .p18_inight {
    background-image: url("/assets/images/meteoblue/18_inight_monochrome_hollow.svg")
}


.meteoblue-root .p19_inight {
    background-image: url("/assets/images/meteoblue/19_inight_monochrome_hollow.svg")
}


.meteoblue-root .p01_day {
    background-image: url("/assets/images/meteoblue/01_day_monochrome_hollow.svg")
}


.meteoblue-root .p02_day {
    background-image: url("/assets/images/meteoblue/02_day_monochrome_hollow.svg")
}


.meteoblue-root .p03_day {
    background-image: url("/assets/images/meteoblue/03_day_monochrome_hollow.svg")
}


.meteoblue-root .p04_day {
    background-image: url("/assets/images/meteoblue/04_day_monochrome_hollow.svg")
}


.meteoblue-root .p05_day {
    background-image: url("/assets/images/meteoblue/05_day_monochrome_hollow.svg")
}


.meteoblue-root .p06_day {
    background-image: url("/assets/images/meteoblue/06_day_monochrome_hollow.svg")
}


.meteoblue-root .p07_day {
    background-image: url("/assets/images/meteoblue/07_day_monochrome_hollow.svg")
}


.meteoblue-root .p08_day {
    background-image: url("/assets/images/meteoblue/08_day_monochrome_hollow.svg")
}


.meteoblue-root .p09_day {
    background-image: url("/assets/images/meteoblue/09_day_monochrome_hollow.svg")
}


.meteoblue-root .p10_day {
    background-image: url("/assets/images/meteoblue/10_day_monochrome_hollow.svg")
}


.meteoblue-root .p11_day {
    background-image: url("/assets/images/meteoblue/11_day_monochrome_hollow.svg")
}


.meteoblue-root .p12_day {
    background-image: url("/assets/images/meteoblue/12_day_monochrome_hollow.svg")
}


.meteoblue-root .p13_day {
    background-image: url("/assets/images/meteoblue/13_day_monochrome_hollow.svg")
}


.meteoblue-root .p14_day {
    background-image: url("/assets/images/meteoblue/14_day_monochrome_hollow.svg")
}


.meteoblue-root .p15_day {
    background-image: url("/assets/images/meteoblue/15_day_monochrome_hollow.svg")
}


.meteoblue-root .p16_day {
    background-image: url("/assets/images/meteoblue/16_day_monochrome_hollow.svg")
}


.meteoblue-root .p17_day {
    background-image: url("/assets/images/meteoblue/17_day_monochrome_hollow.svg")
}


.meteoblue-root .p18_day {
    background-image: url("/assets/images/meteoblue/18_day_monochrome_hollow.svg")
}


.meteoblue-root .p19_day {
    background-image: url("/assets/images/meteoblue/19_day_monochrome_hollow.svg")
}


.meteoblue-root .p20_day {
    background-image: url("/assets/images/meteoblue/20_day_monochrome_hollow.svg")
}


.meteoblue-root .p21_day {
    background-image: url("/assets/images/meteoblue/21_day_monochrome_hollow.svg")
}


.meteoblue-root .p22_day {
    background-image: url("/assets/images/meteoblue/22_day_monochrome_hollow.svg")
}


.meteoblue-root .p23_day {
    background-image: url("/assets/images/meteoblue/23_day_monochrome_hollow.svg")
}


.meteoblue-root .p24_day {
    background-image: url("/assets/images/meteoblue/24_day_monochrome_hollow.svg")
}


.meteoblue-root .p25_day {
    background-image: url("/assets/images/meteoblue/25_day_monochrome_hollow.svg")
}


.meteoblue-root .p26_day {
    background-image: url("/assets/images/meteoblue/26_day_monochrome_hollow.svg")
}


.meteoblue-root .p27_day {
    background-image: url("/assets/images/meteoblue/27_day_monochrome_hollow.svg")
}


.meteoblue-root .p28_day {
    background-image: url("/assets/images/meteoblue/28_day_monochrome_hollow.svg")
}


.meteoblue-root .p29_day {
    background-image: url("/assets/images/meteoblue/29_day_monochrome_hollow.svg")
}


.meteoblue-root .p30_day {
    background-image: url("/assets/images/meteoblue/30_day_monochrome_hollow.svg")
}


.meteoblue-root .p31_day {
    background-image: url("/assets/images/meteoblue/31_day_monochrome_hollow.svg")
}


.meteoblue-root .p32_day {
    background-image: url("/assets/images/meteoblue/32_day_monochrome_hollow.svg")
}


.meteoblue-root .p33_day {
    background-image: url("/assets/images/meteoblue/33_day_monochrome_hollow.svg")
}


.meteoblue-root .p34_day {
    background-image: url("/assets/images/meteoblue/34_day_monochrome_hollow.svg")
}


.meteoblue-root .p35_day {
    background-image: url("/assets/images/meteoblue/35_day_monochrome_hollow.svg")
}


.meteoblue-root .p36_day {
    background-image: url("/assets/images/meteoblue/36_day_monochrome_hollow.svg")
}


.meteoblue-root .p37_day {
    background-image: url("/assets/images/meteoblue/37_day_monochrome_hollow.svg")
}


.meteoblue-root .p01_night {
    background-image: url("/assets/images/meteoblue/01_night_monochrome_hollow.svg")
}


.meteoblue-root .p02_night {
    background-image: url("/assets/images/meteoblue/02_night_monochrome_hollow.svg")
}


.meteoblue-root .p03_night {
    background-image: url("/assets/images/meteoblue/03_night_monochrome_hollow.svg")
}


.meteoblue-root .p04_night {
    background-image: url("/assets/images/meteoblue/04_night_monochrome_hollow.svg")
}


.meteoblue-root .p05_night {
    background-image: url("/assets/images/meteoblue/05_night_monochrome_hollow.svg")
}


.meteoblue-root .p06_night {
    background-image: url("/assets/images/meteoblue/06_night_monochrome_hollow.svg")
}


.meteoblue-root .p07_night {
    background-image: url("/assets/images/meteoblue/07_night_monochrome_hollow.svg")
}


.meteoblue-root .p08_night {
    background-image: url("/assets/images/meteoblue/08_night_monochrome_hollow.svg")
}


.meteoblue-root .p09_night {
    background-image: url("/assets/images/meteoblue/09_night_monochrome_hollow.svg")
}


.meteoblue-root .p10_night {
    background-image: url("/assets/images/meteoblue/10_night_monochrome_hollow.svg")
}


.meteoblue-root .p11_night {
    background-image: url("/assets/images/meteoblue/11_night_monochrome_hollow.svg")
}


.meteoblue-root .p12_night {
    background-image: url("/assets/images/meteoblue/12_night_monochrome_hollow.svg")
}


.meteoblue-root .p13_night {
    background-image: url("/assets/images/meteoblue/13_night_monochrome_hollow.svg")
}


.meteoblue-root .p14_night {
    background-image: url("/assets/images/meteoblue/14_night_monochrome_hollow.svg")
}


.meteoblue-root .p15_night {
    background-image: url("/assets/images/meteoblue/15_night_monochrome_hollow.svg")
}


.meteoblue-root .p16_night {
    background-image: url("/assets/images/meteoblue/16_night_monochrome_hollow.svg")
}


.meteoblue-root .p17_night {
    background-image: url("/assets/images/meteoblue/17_night_monochrome_hollow.svg")
}


.meteoblue-root .p18_night {
    background-image: url("/assets/images/meteoblue/18_night_monochrome_hollow.svg")
}


.meteoblue-root .p19_night {
    background-image: url("/assets/images/meteoblue/19_night_monochrome_hollow.svg")
}


.meteoblue-root .p20_night {
    background-image: url("/assets/images/meteoblue/20_night_monochrome_hollow.svg")
}


.meteoblue-root .p21_night {
    background-image: url("/assets/images/meteoblue/21_night_monochrome_hollow.svg")
}


.meteoblue-root .p22_night {
    background-image: url("/assets/images/meteoblue/22_night_monochrome_hollow.svg")
}


.meteoblue-root .p23_night {
    background-image: url("/assets/images/meteoblue/23_night_monochrome_hollow.svg")
}


.meteoblue-root .p24_night {
    background-image: url("/assets/images/meteoblue/24_night_monochrome_hollow.svg")
}


.meteoblue-root .p25_night {
    background-image: url("/assets/images/meteoblue/25_night_monochrome_hollow.svg")
}


.meteoblue-root .p26_night {
    background-image: url("/assets/images/meteoblue/26_night_monochrome_hollow.svg")
}


.meteoblue-root .p27_night {
    background-image: url("/assets/images/meteoblue/27_night_monochrome_hollow.svg")
}


.meteoblue-root .p28_night {
    background-image: url("/assets/images/meteoblue/28_night_monochrome_hollow.svg")
}


.meteoblue-root .p29_night {
    background-image: url("/assets/images/meteoblue/29_night_monochrome_hollow.svg")
}


.meteoblue-root .p30_night {
    background-image: url("/assets/images/meteoblue/30_night_monochrome_hollow.svg")
}


.meteoblue-root .p31_night {
    background-image: url("/assets/images/meteoblue/31_night_monochrome_hollow.svg")
}


.meteoblue-root .p32_night {
    background-image: url("/assets/images/meteoblue/32_night_monochrome_hollow.svg")
}


.meteoblue-root .p33_night {
    background-image: url("/assets/images/meteoblue/33_night_monochrome_hollow.svg")
}


.meteoblue-root .p34_night {
    background-image: url("/assets/images/meteoblue/34_night_monochrome_hollow.svg")
}


.meteoblue-root .p35_night {
    background-image: url("/assets/images/meteoblue/35_night_monochrome_hollow.svg")
}


.meteoblue-root .p36_night {
    background-image: url("/assets/images/meteoblue/36_night_monochrome_hollow.svg")
}


.meteoblue-root .p37_night {
    background-image: url("/assets/images/meteoblue/37_night_monochrome_hollow.svg")
}

.meteoblue-root .hourly {
    background-color: red;
}
.meteoblue-root .daily {
    background-color: green;
}