.hidden {
    display: none;
}
button > img {
    width: 2.2rem;
    height: 2.2rem;
    position: relative;
    top: 0.6rem;
}

/* Main layout with shrinkable header */
@keyframes page-content-div-closing {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.84);
    }
}
@keyframes page-content-div-opening {
    0% {
        transform: scale(0.84);
    }
    30% {
        transform: scale(0.84);
    }
    100% {
        transform: scale(1);
    }
}
.page-controller {
    overflow: hidden;
}
.page-toolbar-static {
    z-index: 3;
}
.page-toolbar-shrinker {
    z-index: 2;
}
.page-controller .page-content {
    background: transparent;
}
.page-controller .page-content > div {
    transform-origin: top;
    background: rgb(33,33,33);
    width: 100%;
    height: 100%;
}
.page-controller.editing .page-content > div {
    animation-name: page-content-div-closing;
    animation-duration: 0.6s;
    animation-timing-function: ease;
    transform: scale(0.84);
}
.page-controller:not(.editing) .page-content > div {
    animation-name: page-content-div-opening;
    animation-duration: 0.9s;
    animation-timing-function: ease;
    transform: scale(1);
}

/* Editor toolbars */
@keyframes page-editor-left-div-closing {
    0% {
        left: -10%;
    }
    30% {
        left: -10%;
    }
    100% {
        left: 0;
    }
}
@keyframes page-editor-left-div-opening {
    0% {
        left: 0;
    }
    60% {
        left: -10%;
    }
    100% {
        left: -10%;
    }
}
@keyframes page-editor-right-div-closing {
    0% {
        right: -10%;
    }
    30% {
        right: -10%;
    }
    100% {
        right: 0;
    }
}
@keyframes page-editor-right-div-opening {
    0% {
        right: 0;
    }
    60% {
        right: -10%;
    }
    100% {
        right: -10%;
    }
}
.page-editor {
    position: fixed;
    top: 0;
    bottom: 0;
    padding-top: 5rem;
    width: 7%;
}
.page-editor.right-bar {
    margin-right: 1em;
}
.page-editor.left-bar.editing {
    animation-name: page-editor-left-div-closing;
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);;
    left: 0;
    z-index: 2;
}
.page-editor.left-bar:not(.editing) {
    animation-name: page-editor-left-div-opening;
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);;
    left: -10%;
    z-index: 0;
}
.page-editor.right-bar.editing {
    animation-name: page-editor-right-div-closing;
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);;
    right: 0;
    z-index: 2;
}
.page-editor.right-bar:not(.editing) {
    animation-name: page-editor-right-div-opening;
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);;
    right: -10%;
    z-index: 0;
}
.page-editor button div.md-grid-text {
    white-space: normal;
    line-height: normal;
    padding: 0.2rem 0rem;
}
md-toolbar.page-toolbar-static {
    min-height: 5rem;
}
md-toolbar.page-toolbar-static div.md-toolbar-tools{
    height: 5rem;
    max-height: 5rem;
}

/* Component specifics */
button.component-button {
    margin: 0;
    position: relative;
}
button.component-button div.step {
    position: absolute;
    bottom: 1.8rem;
    height: 0;
    right: 0.4rem;
    font-size: 0.6rem;
}

/* md-switch disabled but colored like enabled one */
button.component-button div.switch {
    position: absolute;
    top: 0.3rem;
    height: 0;
    right: 0.2rem;
    font-size: 0.6rem;
    zoom: 1.05;
}
button.component-button div.switch > md-switch {
    margin: 0;
}
button.component-button div.switch > md-switch[disabled] ._md-bar {
    background-color: rgb(158, 158, 158) !important;
}
button.component-button div.switch > md-switch[disabled].md-checked ._md-bar {
    background-color: rgba(124, 179, 66, 0.5) !important;
}
button.component-button div.switch > md-switch[disabled] ._md-thumb {
    background-color: rgb(250, 250, 250) !important;
}
button.component-button div.switch > md-switch[disabled].md-checked ._md-thumb {
    background-color: rgb(124, 179, 66) !important;
}
button.component-button div.switch > md-switch:not([disabled]) > div._md-container {
    cursor: pointer;
}