.hidden {
    display: none;
}
button > img {
    width: 2.2rem;
    height: 2.2rem;
    position: relative;
    top: 0.6rem;
}

@keyframes page-content-div-closing {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.84);
    }
}
@keyframes page-content-div-opening {
    from {
        transform: scale(0.84);
    }
    to {
        transform: scale(1);
    }
}
.page-controller {
    overflow: hidden;
}
.page-toolbar-static {
    z-index: 3;
}
.page-toolbar-shrinker {
    z-index: 2;
}
.page-controller .page-content {
    background: transparent;
}
.page-controller .page-content > div {
    transform-origin: top;
    background: rgb(33,33,33);
}
.page-controller.editing .page-content > div {
    animation-name: page-content-div-closing;
    animation-duration: 0.6s;
    animation-timing-function: ease;
    transform: scale(0.84);
}
.page-controller:not(.editing) .page-content > div {
    animation-name: page-content-div-opening;
    animation-duration: 0.6s;
    animation-timing-function: ease;
    transform: scale(1);
}
.page-editors {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
