body {
    font-size: 0.85em;
}
.md-button {
    font-size: 0.9em;
}

.hidden {
    display: none;
}
button > img {
    width: 2.2rem;
    height: 2.2rem;
    position: relative;
    top: 0.6rem;
}
.text75pct {
    font-size: 0.75rem;
}

/* Main layout with shrinkable header */
@keyframes page-content-div-closing {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.84);
    }
}
@keyframes page-content-div-opening {
    0% {
        transform: scale(0.84);
    }
    30% {
        transform: scale(0.84);
    }
    100% {
        transform: scale(1);
    }
}
.page-controller {
    overflow: hidden;
}
.page-toolbar-static {
    z-index: 3;
}
.page-toolbar-shrinker {
    z-index: 2;
}
.page-controller .page-content {
    background: transparent;
}
.page-controller .page-content > div {
    transform-origin: top;
    background: rgb(33,33,33);
    width: 100%;
    height: 100%;
}
.page-controller.editing .page-content > div {
    animation-name: page-content-div-closing;
    animation-duration: 0.6s;
    animation-timing-function: ease;
    transform: scale(0.84);
}
.page-controller:not(.editing) .page-content > div {
    animation-name: page-content-div-opening;
    animation-duration: 0.9s;
    animation-timing-function: ease;
    transform: scale(1);
}

/* Editor toolbars */
@keyframes page-editor-left-div-closing {
    0% {
        left: -10%;
    }
    30% {
        left: -10%;
    }
    100% {
        left: 0;
    }
}
@keyframes page-editor-left-div-opening {
    0% {
        left: 0;
    }
    60% {
        left: -10%;
    }
    100% {
        left: -10%;
    }
}
@keyframes page-editor-right-div-closing {
    0% {
        right: -10%;
    }
    30% {
        right: -10%;
    }
    100% {
        right: 0;
    }
}
@keyframes page-editor-right-div-opening {
    0% {
        right: 0;
    }
    60% {
        right: -10%;
    }
    100% {
        right: -10%;
    }
}
.page-editor {
    position: fixed;
    top: 0;
    bottom: 0;
    padding-top: 5rem;
    width: 7%;
}
.page-editor.right-bar {
    margin-right: 8px;
    overflow-x: hidden;
}
.page-editor.left-bar.editing {
    animation-name: page-editor-left-div-closing;
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);;
    left: 0;
    z-index: 2;
}
.page-editor.left-bar:not(.editing) {
    animation-name: page-editor-left-div-opening;
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);;
    left: -10%;
    z-index: 0;
}
.page-editor.right-bar.editing {
    animation-name: page-editor-right-div-closing;
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);;
    right: 0;
    z-index: 2;
}
.page-editor.right-bar:not(.editing) {
    animation-name: page-editor-right-div-opening;
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);;
    right: -10%;
    z-index: 0;
}
.page-editor button div.md-grid-text {
    white-space: normal;
    line-height: normal;
    padding: 0.2rem 0rem;
}
md-toolbar.page-toolbar-static {
    min-height: 5rem;
}
md-toolbar.page-toolbar-static div.md-toolbar-tools{
    height: 5rem;
    max-height: 5rem;
}

/* Component specifics */
button.component-button {
    margin: 0;
    position: relative;
}
button.component-button h3 {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
div[ng-controller] div.step, div[ng-controller] md-progress-circular.step {
    position: absolute;
    bottom: 1.1rem;
    height: 0;
    right: 0.4rem;
    font-size: 0.6rem;
}
div[ng-controller] md-progress-circular.step {
    bottom: 0.75rem;
    height: 0 !important;
    right: 0.15rem;
}
button.component-button div.step, button.component-button md-progress-circular.step {
    position: absolute;
    bottom: 2.05rem;
    height: 0;
    right: 0.45rem;
    font-size: 0.6rem;
}
button.component-button md-progress-circular.step {
    bottom: 1.7rem;
    height: 0 !important;
    right: 0.2rem;
}


/* md-switch disabled but colored like enabled one */
button.component-button div.switch {
    position: absolute;
    top: 0;
    height: 0;
    right: 0.3rem;
    font-size: 0.6rem;
    zoom: 1.05;
}

md-card.error {
    background-color: #B71C1C;
}
md-card div.no-card {
    background-color: rgb(33,33,33);
}
.card-alarm-on {
    background-image: url(/assets/images/warning-red.png);
    border-radius: 3px;
}
.card-alarm-half {
    background-image: url(/assets/images/warning-yellow.png);
    border-radius: 3px;
}
.card-alarm-off {
    background-image: url(/assets/images/warning-green.png);
    border-radius: 3px;
}

.component-button.grouped.first {
    border-top-right-radius: 0; border-bottom-right-radius: 0;
}
.component-button.grouped.middle {
    border-radius: 0;
}
.component-button.grouped.last {
    border-top-left-radius: 0; border-bottom-left-radius: 0;
}

.pattern_holder_dialog {
    width: 310px;
    height: 310px;
    background-color: transparent;
}
.pattern_holder_dialog ul.patt-wrap {
    margin: 0;
}

md-progress-circular.step path {
    stroke: rgba(255,255,255,0.87);
}
md-progress-circular.step svg {
    background-color: rgba(255,255,255,0.25);
    border-radius: 50%;
}